/* Estilosestructurales.css */

/* Altura única del navbar */
:root {
  --nav-height: 80px;
}

.menu-list li a {
  font-family: 'Proxima Nova', sans-serif;
}

.logoMifit {
  width: 7rem;
}

/* Navbar fijo */
.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  z-index: 10000; /* por encima de todo */
}

.usuario-link {
  width: auto;
}

.menu-list {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.menu-list li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.menu-list li a:hover {
  color: #8826DD;
}

.hamburguesa {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  background: none;
  border: none;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
}

/* MOBILE */
@media (max-width: 667px) {
  .hamburguesa {
    display: flex;
    margin: 1rem;
  }

  .menu-list {
    display: none;

    left: 0;
    width: 100%;
    flex-direction: column;

    background: rgb(0, 0, 0);
    padding: 20px;
    gap: 20px;
    z-index: 9999;
  }

  .menu-list li a {
    color: #8826DD;
  }

  .menu-list.open {
    display: flex;
  }
}

/* Submenu */
.submenu-container {
  position: relative;
}

.submenu-title {
  cursor: pointer;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
  max-height: 300px;
  overflow-y: auto;
  z-index: 20000;
}

.submenu-container:hover .submenu {
  display: block;
}

.submenu li {
  padding: 10px;
}

.submenu li a {
  display: block;
  color: black;
  text-decoration: none;
}

.submenu li a:hover {
  background: #f0f0f0;
}
