@font-face {
  font-family: 'Proxima Nova';
  src: url('/proximanova_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.menu-list li a {
  font-family: 'Proxima Nova', sans-serif;
}
.logoMifit{
    width: 7rem;
}
.Navbar {
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;

  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}
.Categoria-entreno{
  margin-top: 90px;;
}
.usuario-link{
    width: rem;
}


.menu-list {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.menu-list li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}
.menu-list li a:hover{
    color: #8826DD;
}

.hamburguesa {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  background: none;
  border: none;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
}




@media (max-width: 667px) {
  .hamburguesa {
    display: flex;
    margin: 1rem;
  }

  .menu-list {
    display: none;
    position: absolute;

    top: 60px;
    left: 0;
    width: 100%;
    height: 100vh;
    margin-top: 1rem;
    flex-direction: column;
    background: white;
    padding: 20px;
   background-color: rgb(0, 0, 0);
    gap: 20px;
    
  }
  .menu-list li a{
    color: #8826DD;
  }

  .menu-list.open {
    display: flex;
  }
  
}
