.Sidebar{
  display: flex;

}
.Sidebar-nav{
  width: 250px;
  background: #19193b;
  color: white;
  padding: 1.6rem ;
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  height: calc(100% - var(--navbar-height));
  overflow-y: auto;
}

.Sidebar ul {
  list-style: none;
  
}

.Sidebar-li a {

  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  padding: 1rem;

}

.Sidebar li:hover {
  background: #d6d6e0;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .Sidebar {
    display: none;
  }
  .Sidebar-nav {
    display: none;
  }
}