.Sidebar{
  display: flex;

}
.Sidebar-nav{
  margin-top: 5rem;
  width: 250px;
  background: #19193b;
  color: white;
  padding: 1.6rem ;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

.Sidebar ul {
  list-style: none;
  
}

.Sidebar-li a {

  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  padding: 1rem;

}

.Sidebar li:hover {
  background: #d6d6e0;
  border-radius: 10px;
}